   /*icon styles*/
.header {
  /* margin:hide; */
}
.display-3{
  /* background-image: linear-gradient(45deg, #f1f378, #15769c); */
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image:linear-gradient(#15769c, rgb(5, 17, 87, 0.)) ;
  color: white;
  margin: 10px;
  padding-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  text-transform: uppercase;
  opacity: 0.5;
  box-shadow: inset 0px 0px 10px 20px #000;
  
  
  
}
img {
  
}
.container {
  /* background-image: linear-gradient(45deg, #ffffff 50%, #1f458d); */
  margin: 20px;
  /* border: dimgray; */
  /* border: solid 2px; */
  padding: 0px 30px;
  /* box-shadow: inset 0px 0px 30px 30px rgb(56, 54, 54); */
  
  
}

ul {
  border: 2px solid gray;
  list-style-type: none ;
}
body {
  background-image:linear-gradient(#15769c, rgb(5, 17, 87)) ;
  box-shadow: inset 0px 0px 20px 10px rgb(56, 54, 54);
  padding: 10px;
  
}

  .medium-12 {
    border: 2px solid grey;
    border-radius: 4px;
}
h1{
  font-size: 30px;
  padding-top: 20px
}

h2{
    font-size: 20px;
}

.input-Country {
  height: 30px;
}



  .actual-map {
    margin: 4px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 4px;
  }

  .footer {
  background-color:#15769c ;;
  color: white;
  height: 80px;
  text-align: center;
  }

  .footerP{
    padding-top: 25px;
    background-image: linear-gradient(45deg, #f1f378, #15769c);
  }
 
