  /*icon styles*/
.medium-12 {
    border: 2px solid grey;
    border-radius: 4px;
}
h1{
  font-size: 30px;
  
}

h2{
    font-size: 20px;
}

.input-Country {
  height: 30px;
}

.header {
  background-color:#0f073a ;
  color: white;
  height: 80px;
  }

 /* .actual-map {
    margin: 4px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 4px;
  }*/


  